img{
    height: 36px;
    width: 53px;
}
.logo{
    position: relative;
    right: 30px; 
}
header{
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color:rgb(255, 254, 254);
    align-items: center;
    box-shadow: 0 4px 6px rgba(181, 12, 12, 0.1);
}
.icon{
    display: flex;
    gap: 20px;
    flex-direction:row;
    text-align: center;
}
.icons{
    text-align: center;
    display: flex;
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
position: relative;
right: 100px;
}

.search input{
    padding: 8px 150px 8px 0px ;
    background-color: rgb(245, 242, 242);
    border-radius: 5px;

}
 nav a{
    color: rgb(32, 28, 28);
    margin-right: 40px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease
 }

 
  nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Line thickness */
    bottom: 0;
    left: 0;
    background-color: red; /* Line color */
    transition: width 0.3s ease;
  }
  
  nav a:hover {
    color: red; /* Optional: change text color on hover */
  }
  
  nav a:hover::after {
    width: 100%; /* Full width on hover */
  }
  
  /* Special style for the NEW superscript */
  nav a sup {
    font-size: 0.7em;
    vertical-align: super;
  }

  
sup{
    color: red;
}
.main{
    height: 400px;
    width: 1400px;
    margin-left: 55px;
    /* border: 2px solid black; */
}
main img{
    margin-top: 30px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.img1 img{
    height: 400px;
    margin-top: 10px;
} 
.ad{
    height: 25px;
    margin-top: 2px;
}
.ad2{
    margin-top: 55px;
    height: 100px;
}
.ad3{
    height: 150px;
}

.products{
    width: 1425px;
    height: 250px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    /* background-color: blueviolet; */
}
/* .box{
    width: 230px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 15px;
} */
.box img{
    width: 230px;
    height: 200px;
}
.deal{
    /* margin-left: 40px; */
    width:1425px;
}
.crazy{
    width: 1425px;
    height: 390px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    /* background-color: brown; */
}
.box1 img{
    width: 280px;
    height: 350px;
}
.category{
    /* margin-left: 40px; */
    width:1425px;
}
.cat{
    width: 1425px;
    height: 330px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    /* background-color: rgb(132, 210, 38); */
    margin-right: 55px;
}
.box2 img{
    width: 238px;
    height: 329px;
}
.box3 img{
    width: 238px;
    height: 329px;
}
.box4 img{
    width: 238px;
    height: 329px;
}

.cat1{
    width: 1425px;
    height: 330px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    /* background-color: rgb(79, 87, 69); */
    margin-right: 55px;
}

.cat2{
    width: 1425px;
    height: 330px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    /* background-color: rgb(119, 148, 83); */
    margin-right: 55px;
}
.cat3{
    width: 1425px;
    height: 330px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    /* background-color: rgb(119, 148, 83); */
    margin-right: 55px;
}
.box5 img{
    width: 238px;
    height: 329px;
}

.more_img img{
    /* margin-left: 40px; */
    width:1425px;
    height: 250px;
}

.last_table{
    background-color: rgb(252, 252, 253);
    height: 1600px;
    width: 1425px;
    display: flex;
    flex-direction: column;
}

.last_box1{
    display: flex;
    flex-direction: row;
}

.online{
    margin-top: 15px;
    height: 300px;
    width: 300px;
    /* background-color: rgb(208, 63, 194); */
}

.f1{
    color:black;
    display: flex;
    /* align-items: flex-start; */
    font-size: 13.31px;
    margin-left: 80px;
    font-weight: bold;
}
.f1 p{
    margin-top: 50px;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.list1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* align-items: flex-start; */
    margin-top:12px;
    margin-left: 80px;
}
.list1 a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}


.customer{
    margin-top: 15px;
    height: 300px;
    width: 300px;
    /* background-color: rgb(208, 63, 194); */
}

.f2{
    color:black;
    display: flex;
    /* align-items: flex-start; */
    font-size: 13.31px;
    margin-left: 80px;
    font-weight: bold;
}
.f2 p{
    margin-top: 50px;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.list2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* align-items: flex-start; */
    margin-top:12px;
    margin-left: 80px;
}
.list2 a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.exp{
    margin-top: 15px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0%;
}
.f3 p{
    margin-top: 50px;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;

}
.f4 p{
    margin-top: 100px;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.app_store{
    display: flex;
    flex-direction: row;
}

.app_store img{
    height:42px;
    width: 100px;
    margin: 0;
}

.app_icon{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.app_icon img{
    height: 20px;
    width: 20px;
    margin: 0;
}

.org{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.org1{
    display: flex;
    flex-direction: row;
}
.f5{
    margin-left:15px ;
}
.p1{
    /* margin-top: 50px; */
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13.31px;
    font-weight: bold;

}
.p2{
    margin: 0;
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    
}
.org1 img{
    height: 40px;
    width: 48px;
}
.org2{
    display: flex;
    flex-direction: row;
}
.f6{
    margin-left: 15px;
}

.p3{
    margin-top: 30px;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13.31px;
    font-weight: bold;

}
.p4{
    margin: 0;
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.org2 img{
    height: 40px;
    width: 48px;
}

.useful-link{
    margin-top: 15px;
    height: 300px;
    width: 300px;
    background-color: brown;
}
.use1{
    color:black;
    display: flex;
    /* align-items: flex-start; */
    font-size: 13.31px;
    margin-left: 80px;
    font-weight: bold;
}
.use1 p{
    margin-top: 50px;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    
}
.use_list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* align-items: flex-start; */
    margin-top:12px;
    margin-left: 80px;
}
.use_list a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.popular{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* align-items: flex-start; */
    margin-top:12px;
    margin-left: 80px;
}
.use2 p{
    margin-top: 20px;
    display: flex;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 12px; 
}
.use3 p{
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-top:0;
}
.last_box3{
     width: 1300px;
     height: 80px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-left: 80px;
}
.last_box3 p{
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-top:50px;
}
.case a{
    text-decoration: none;
    color: blue;
}
hr{
    opacity: 0.3;
}

.last_box4{
     width: 1300px;
     height: 300px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-left: 80px;
}
.contact{
    height: 300px;
    width: 300px;
}
.reg_contact p{
    margin-top: 50px;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.reg-list a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.tel-p{
    margin-top: 150px;
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.last_box5{
    width: 1300px;
    height: 200px;
    margin-left: 80px;
}
.easy_text p{
    margin-top: 0;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.easy_text1 p{
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.last_box6{
    width: 1300px;
    height: 200px;
    margin-left: 80px;
}
.text6 p{
    margin-top: 0;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.text6-1 p{
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}
/* .num p{
    margin-top: 0;
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color:rgb(84, 83, 83);
} */
ol {
    color:rgb(121, 121, 121);
    margin-left: 80px;
}
.num {
  display: flex;
  /* align-items: flex-start; */
  margin-bottom: 15px;
}
.num1 p{
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(90, 89, 89);
    font-weight: bold;

}

.num1 li {
  list-style-type: decimal;
  margin-left: 0;
}

.num2 {
  flex: 1;
  font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color:rgb(121, 121, 121);
}

.num3 p{
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(90, 89, 89);
    font-weight: bold;

}

.num3 li {
  list-style-type: decimal;
  margin-left: 0;
}

.num4 {
  flex: 1;
  font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color:rgb(121, 121, 121);
}

.num5 p{
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(90, 89, 89);
    font-weight: bold;

}

.num5 li {
  list-style-type: decimal;
  margin-left: 0;
}

.num6 {
  flex: 1;
  font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color:rgb(121, 121, 121);
}

.num7 p{
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(90, 89, 89);
    font-weight: bold;

}

.num7 li {
  list-style-type: decimal;
  margin-left: 0;
}

.num8 {
  flex: 1;
  font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color:rgb(121, 121, 121);
}

.num9 p{
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(90, 89, 89);
    font-weight: bold;

}

.num9 li {
  list-style-type: decimal;
  margin-left: 0;
}

.num10 {
  flex: 1;
  font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color:rgb(121, 121, 121);
}

.num11 p{
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(90, 89, 89);
    font-weight: bold;

}

.num11 li {
  list-style-type: decimal;
  margin-left: 0;
}

.num12 {
  flex: 1;
  font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color:rgb(121, 121, 121);
}
.dis p{
    color: rgb(121, 121, 121);
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.dotted{
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color:rgb(121, 121, 121);
}
.inside p{
    font-family:  Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  color: rgb(91, 89, 89);
  font-weight: bold;
}

